* {
    font-family: Arial, Helvetica, sans-serif;
}

td {
    border: 1px rgb(92, 92, 92) solid;
    text-align: center;
    width: 70px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

#td1 {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    background-color: yellow;
    border: none;
}

#td2 {
    border: none;
}

.td1 {
    background-color: rgb(255, 185, 106);
    color: rgb(0, 150, 0);
}

.td2 {
    background-color: rgb(255, 185, 106);
}

.td3 {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 150, 0);
}

.td4 {
    background-color: rgb(255, 162, 255);
}

.td5 {
    background-color: rgb(255, 162, 255);
    color: blue;
}

.td6 {
    background-color: rgb(142, 223, 255);
}

.td7 {
    background-color: rgb(255, 255, 124);
}

.td8 {
    background-color: rgb(255, 255, 124);
    color: rgb(209, 56, 56);
}

#td3 {
    background-color: rgb(255, 255, 124);
    color: blue;
}

.td9 {
    background-color: rgb(199, 147, 16);
}

.td10 {
    color: rgb(0, 150, 0);
    background-color: rgb(240, 229, 134);
}

.td11 {
    background-color: rgb(240, 229, 134);
}

#td4 {
    background-color: rgb(240, 229, 134);
    color: blue;
}

.td12 {
    background-color: rgb(188, 230, 139);
}

#td5 {
    background-color: rgb(188, 230, 139);
    color: blue;
}

.td13 {
    background-color: rgb(161, 23, 23);
    color: rgb(255, 255, 197);
}

.td14 {
    color: rgb(211, 35, 35);
    background-color: #ffecff;
}

.td15 {
    background-color: blue;
    color: white;
}

.p1hard {
    color: rgb(80, 80, 80);
    font-size: 25px;
    text-align: center;
}

#h1 {
    text-align: center;
    color: rgb(110, 110, 110);
}

#p5 {
    font-size: 40px;
    color: rgb(112, 112, 112);
    font-weight: bold;
    text-align: center;
}



